.nameInput:focus,
.brewbutton,
input,
button{
  margin:2px;
  padding:8px;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #888;
  min-width: 33px;
}

.brewbutton:hover,
input:hover,
button:hover{
  border: 1px solid #444;
}

.brewbutton,
input{
  width:259px;
}

button{
  background: #FFF9EC;
  cursor: pointer;
}

button:hover{
  background: #B3AEA5;
}

.nameInput{
  width:131px;
  background:transparent;
  border: 1px dashed #ccc;
}

.newbrew{
  width:199px;
}

.deleteFav{
  background: transparent;
}
.deleteFav:hover{
  color:black;
  background: #bbb;
}


#container{
  width:339px;
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
}

#usuals{
  margin-bottom:4px;
}

h4{
  margin-top: 20px;
  margin-bottom: 2px;
}

html,
body,
button,
h3,
h4,
p{
  color:#444;
}

.messages{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 266px;

  animation:fade 1s 1;
  -webkit-animation:fade 1s 1;
  animation-fill-mode: forwards;

  animation-delay:3s;
  -webkit-animation-delay:3s;
  -webkit-animation-fill-mode: forwards;
}


@keyframes fade{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes fade{
    from {opacity :1;}
    to {opacity :0;}
}

.messages.success{
  color: #3c763d;
  background: #dff0d8;
  border-color: #d6e9c6;
}

.messages.fail{
  color: #a94442;
  background: #f2dede;
  border-color: #ebccd1;
}

[disabled],
[disabled]:hover{
  background:#eee;
  color:#666;
  cursor:default;
  border-color: #bbb;
}
